/*HERO SECTION*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    width: 100%;
    background:linear-gradient(0deg,  rgba(0, 247, 255, 0.5), rgb(96, 93, 236)), url(https://res.cloudinary.com/zalajobi/image/upload/v1630884366/Tripma/Landing%20Page/hero_ay3znn.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.hero .container h1{
    text-align: center;
    font-size: 72px;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #4f90fd, #6260fd, #6952fd, #7873fd, #7483fd, #8862fd);
    -webkit-text-fill-color: transparent;
    color: #464646;
}

.MuiFormControl-root {
    border: 0 !important;
}

.MuiInput-root {
    padding: 10px !important;
    padding-bottom: 0 !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
}

.hero .btn-filled {
    border-radius: 5px;
    padding: 11px 30px;
}

/*.form-group{*/
/*    position: relative;*/
/*    display: block;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*.form-style {*/
/*    padding: 13px 20px;*/
/*    padding-left: 55px;*/
/*    height: 48px;*/
/*    width: 100%;*/
/*    font-weight: 500;*/
/*    border-radius: 4px;*/
/*    font-size: 14px;*/
/*    line-height: 22px;*/
/*    letter-spacing: 0.5px;*/
/*    outline: none;*/
/*    color: #c4c3ca;*/
/*    background-color: #1f2029;*/
/*    border: none;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);*/
/*}*/
/*.form-style:focus,*/
/*.form-style:active {*/
/*    border: none;*/
/*    outline: none;*/
/*    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);*/
/*}*/
/*.input-icon {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 18px;*/
/*    height: 48px;*/
/*    font-size: 24px;*/
/*    line-height: 48px;*/
/*    text-align: left;*/
/*    color: #ffeba7;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*}*/

/*.form-group input:-ms-input-placeholder  {*/
/*    color: #c4c3ca;*/
/*    opacity: 0.7;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*}*/
/*.form-group input::-moz-placeholder  {*/
/*    color: #c4c3ca;*/
/*    opacity: 0.7;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*}*/
/*.form-group input:-moz-placeholder  {*/
/*    color: #c4c3ca;*/
/*    opacity: 0.7;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*}*/
/*.form-group input::-webkit-input-placeholder  {*/
/*    color: #c4c3ca;*/
/*    opacity: 0.7;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*}*/
/*.form-group input:focus:-ms-input-placeholder  {*/
/*    opacity: 0;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*}*/
/*.form-group input:focus::-moz-placeholder  {*/
/*    opacity: 0;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*}*/
/*.form-group input:focus:-moz-placeholder  {*/
/*    opacity: 0;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*}*/
/*.form-group input:focus::-webkit-input-placeholder  {*/
/*    opacity: 0;*/
/*    -webkit-transition: all 200ms linear;*/
/*    transition: all 200ms linear;*/
/*}*/